.accordion-item{
    border-top: 1px solid #c8c7cc;
}
.accordion-item-content .button-round {
    display: inline-block;
}
.accordion-item-content dd {
    padding-top: 3px;
    margin: 0;
}
.accordion-item-expanded {
    margin-bottom: 30px;
}